<!-- Navbar content -->
<nav class='navbar navbar-expand-lg bg-body-tertiary container-fluid' data-bs-theme='dark'>
   <div class='container'>
      <a class='navbar-brand' href='/'>Navbar</a>
      <button
         class='navbar-toggler'
         type='button'
         data-bs-toggle='collapse'
         data-bs-target='#navbarSupportedContent'
         aria-controls='navbarSupportedContent'
         aria-expanded='false'
         aria-label='Toggle navigation'
      >
         <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
         <ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
            <img
               class='avatar'
               src='https://scontent.fdad2-1.fna.fbcdn.net/v/t39.30808-6/453212213_1206786913794514_5858085507630456444_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=fOELuwNYRGcQ7kNvwFBprwq&_nc_oc=AdkD8DIigwn8cHNxCpVuyK8O6Pg2wdOjluL7iIT9AKnYDMmx10VheasNSzMcAXXPETfpzck2_Ey0ibdtssrHcMqk&_nc_zt=23&_nc_ht=scontent.fdad2-1.fna&_nc_gid=NOhPCz5VA6chuZRWXfO5Ug&oh=00_AfTlULWMoPf3BgPcsjO4y1RBfkTkKeYHZkNTALMUuWG0Yw&oe=687E94DF'
               alt=''
            />
            <li class='nav-item dropdown'>
               <a
                  class='nav-link dropdown-toggle'
                  href='#'
                  role='button'
                  data-bs-toggle='dropdown'
                  aria-expanded='false'
               >
                  Hoàng Quân
               </a>
               <ul class='dropdown-menu'>
                  <li><a class='dropdown-item' href='/courses/create'>Thêm khóa học</a></li>
                  <li><a class='dropdown-item' href='/me/stored/courses'>Khóa học của tôi</a></li>
                  <li><a class='dropdown-item' href='/me/stored/news'>Bài viết của tôi</a></li>
                  <li><a class='dropdown-item'>Đăng xuất</a></li>

               </ul>
            </li>
         </ul>
      </div>
   </div>
</nav>