<div class="mt-5 mb-5">
    <form method="POST" action="">
        <div class="row mb-3">
            <label for="search-input" class="col-sm-2 col-form-label">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa tìm kiếm">
        </div>

        <div class="row mb-3">
            <label for="gender-input" class="col-sm-2 col-form-label">Từ khóa</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">--Chọn Giới Tính</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>